﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PAH</title>
    <link rel="icon" type="image/png" href="https://firebasestorage.googleapis.com/v0/b/pah-storage.appspot.com/o/logo%2Flogo-color.png?alt=media&token=77c12e9e-bb9f-481e-afc2-adf09ca34e24" />
</head>
<body>
    @RenderBody()
</body>
</html>