@page
@model API.Views.Mvc.ErrorModel
@{
    Layout = "_Layout";
    ViewBag.Title = "Xác nhận Email";
}
@{
    <div class='content'>
        <div class='card'>
            <div class='logoImage'>
                <img src="https://firebasestorage.googleapis.com/v0/b/pah-storage.appspot.com/o/logo%2Flogo-no-background.png?alt=media&token=02c555f8-0f94-4208-a902-2b9f45e3ca10" alt="Paris">
            </div>
            <div class='title'>Không xác nhận được Email của bạn</div>
            <div class='text'>Tài khoản của bạn đã được xác nhận trước đây hoặc một email xác nhận mới đã được gửi đến bạn.</div>
            <div class='text'>Hãy kiểm tra hòm thư của mình!</div>
        </div>
    </div>
}

<style>
    * {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    }

    body {
        background: #212121;
    }

    .content {
        font-family: 'Helvetica Neue';
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 90vh;
        font-size: 30px;
    }

    .title {
        font-weight: bold;
        color: #212121;
    }

    .symbol {
        -webkit-text-stroke: 13px #212121;
        font-size: 150px;
        color: #ff2c3c;
    }

    .text {
        margin-top: 15px;
        font-size: 25px;
        color: #212121;
        text-align: center;
        font-weight: 400;
    }

    .logoImage {
        margin-bottom: 20px
    }

    img {
        width: 120px;
        object-fit: cover;
    }

    .card {
        background-color: #ffffff;
        padding: 50px;
        border-radius: 8px;
    }
</style>
